.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-left: 6.25rem;
  color: #00240f;
}
.container h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.container p {
  font-size: 1.5rem;
  margin-bottom: 2.25rem;
}
.container a {
  background: #ec0000;
  color: #fff;
  padding: 0.625rem 1.5rem;
  border-radius: 1.5rem;
  font-weight: bold;
}
.container a:hover {
  background: #a00;
}

.container {
  position: relative;
}
.container::after {
  content: "";
  width: 200px;
  height: 100%;
  background: linear-gradient(90deg, #fff 0%, rgba(236, 0, 0, 0) 100%);
  position: absolute;
  top: 0px;
  left: 40rem;
}
