.menu {
  display: flex;
  justify-content: space-between;
  padding: 1.875rem 6.25rem;
  align-items: center;
}
.menu-components {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.menu-components li a {
  color: #00240f;
  padding: 0.625rem 0;
}
.menu-components li a:hover {
  color: #001200;
  border-bottom: 1px solid #001200;
}
.menu-components li:nth-child(4) a:hover,
.menu-components li:nth-child(5) a:hover {
  border-bottom: none;
}
.menu-components li:last-child button {
  color: white;
  padding: 0.625rem 1.5rem;
  background: #ec0000;
  border-radius: 1.5rem;
  font-weight: bold;
  border: none;
}

.menu-components li:last-child button:hover {
  background: #a00;
  border-bottom: none;
}

/*modal*/

.modal-container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 5;
  display: grid;
  justify-items: center;
  align-items: center;
}
.modal {
  background: #fff;
  width: 18.625rem;
  height: 25.625rem;
  padding: 1rem;
  border: 0.45rem solid #ec0000;
  border-radius: 10rem 10rem 4px 4px;
}
